<!DOCTYPE html>
<html lang="ja">
<head>
<link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Averia+Gruesa+Libre' rel='stylesheet' type='text/css'>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<title>Amanda & Franz</title>
<link rel="stylesheet" href="css/style.css">
<script src="js/lib.js"></script>
<script type="text/javascript">
  var disqus_developer = 1;
  var disqus_shortname = 'amandafranz';
  var disqus_identifier = 'main';
  var disqus_url = 'http://amandaefranz.com';
</script>
</head>
<body>
{{ content }}
<div id="disqus_thread"></div>
<script type="text/javascript">
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
<script src="js/script.js"></script>
</body>
</html>
