@import 'mixin';

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

body {
  background: #EFEFEF;
  font-family: Handlee, cursive; 
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

h2 {
  font-size: 24px;
}

.mobile h2 {
  font-size: 20px;
}

#main-wrapper {
  margin-top: 50px;
}

.mobile-small #main-wrapper {
  margin-top: 70px;
}

.foo {
  @include inline-block;
}

div.page {
  //height: 600px;
  width: 100%;
  position: relative;
  padding-top: 10px;
  height: auto;
}

.page-transition {
  height: 200px;
  width: 100%;
}

.top-link {
  display: none;
}

.mobile .top-link {
  display: block;
  position: absolute;
  left: 10%;
  z-index: 100;
}

.menu-wrapper {
  position: fixed;
  top: 0;
  padding: 0 auto;
  height: 100px;
  width: 100%;
  float: left;
  background: url(../images/menu_top.png) repeat-x 0 -47px transparent;
  z-index: 1000;
  font-family: 'Averia Gruesa Libre', cursive;
}

.mobile .menu-wrapper {
  position: absolute;
  float: left;
}
.mobile-small .menu-wrapper {
  position: relative;
}

.menu-wrapper-bottom {
  position: fixed;
  top: 50px;
  height: 106px;
  width: 100%;
  float: left;
  background: url(../images/menu_top.png) repeat-x 0 -49px transparent;
  z-index: -10;
}

.menu {
  float: right;
  text-align: center;
  right: 50%;
  position: relative;
  padding: 10px 0 5px;
}

.netbook .menu {
  float: none;
  right: auto;
  margin: 0 150px 0 20px;
}

.mobile .menu {
  margin: 0 20px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: block;
  margin-right: 30px;
  float: left;
  left: 50%;
  position: relative;
  font-size: 24px;
}

.netbook .menu ul li {
  left: auto;
}

.mobile .menu ul li {
  font-size: 16px;
}

.menu ul li a:visited,
.menu ul li a {
  text-decoration: none;
  color: #000;
  text-shadow: -1px 0 2px #FFF, 0 1px 2px #FFF, 1px 0 2px #FFF, 0 -1px 2px #FFF;
}

.menu ul li a.active,
.menu ul li a:hover {
  color: #AA3;
}

#recado-link {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.mobile #recado-link {
  position: static;
  float: left;
  right: auto;
  top: auto;
  margin: 0 20px;
}

#recado-link a, 
#recado-link a:visited {
  color: #000;
  text-shadow: -1px 0 2px #FFF, 0 1px 2px #FFF, 1px 0 2px #FFF, 0 -1px 2px #FFF;
}

#recado-link a:hover, 
#recado-link a.active {
  color: #AA3;
}

a, a:visited {
  text-decoration: none;
  color: #997;
}

a.active,
a:hover {
  color: #993;
}

.page-index .date {
  margin: 10px 10px 0;
  text-align: center;
}

.page-index h1 {
  display: block;
  text-indent: -9999px;
  background: url(/images/amandaefranz.png) no-repeat 0 0 transparent;
  width: 400px;
  height: 296px;
  position: absolute;
  top: 50%;
  margin-top: -148px;
  margin-right: -200px; 
  right: 73%;
  z-index: 1;
}

.mobile .page-index h1 {
  left: 50%;
  margin: 0 0 0 -200px;
  position: relative;
  right: auto;
  top: 10px;
}

.mobile-small .page-index h1 {
  background: url(/images/amandaefranz-small.png) no-repeat 0 0 transparent;
  margin: 0 0 0 -100px;
  width: 200px;
  height: 148px;
}

.page-index #welcome-image {
  margin-top: -362px;
  margin-left: -290px;
  position: absolute;
  left: 73%;
  top: 50%;
}

.netbook .page-index #welcome-image {
  height: 357px;
  margin-left: -145px;
  margin-top: -181px;
}

.mobile .page-index #welcome-image {
  position: relative;
  left: 50%;
  margin-top: 0;
  top: 0;
}
.mobile-small .page-index #welcome-image {
  height: 178px;
  margin-left: -72px;
}

.page-nossa-historia .text-side {
  display: block;
  font-size: 26px;
  position: absolute;
  right: 30%;
  top: 10%;
  margin-top: 10px;
  margin-right: -250px;
  text-align: right;
}

.netbook .page-nossa-historia .text-side {
  top: 5%;
}

.tablet .page-nossa-historia .text-side {
  float: left;
  font-size: 20px;
  left: 0;
  padding-left: 10%;
  position: relative;
  text-align: left;
  top: 0;
  margin: 0;
}

.mobile .page-nossa-historia .text-side {
  float: none;
}

.page-nossa-historia .ilus {
  background: url(/images/front-bg.png) no-repeat 0 0 transparent;
  position: absolute;
  width: 509px;
  height: 174px;
  bottom: 5%;
  right: 0;
}

.tablet .page-nossa-historia .ilus {
  bottom: auto;
}

.mobile .page-nossa-historia .ilus {
  background: url(/images/front-bg-small.png) no-repeat 0 0 transparent;
  width: 255px;
  height: 87px;
}

.page-nossa-historia .text {
  width: 500px;
  position: absolute;
  left: 30%;
  margin-left: -250px;
  top: 10%;
}

.netbook .page-nossa-historia .text {
  top: 5%;
}

.tablet .page-nossa-historia .text {
  position: relative;
  width: 80%;
  padding: 0 10%;
  margin: 30px 0;
  left: 0;
  top: 0;
}

.page-fotos .thumbs {
  display: block;
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0 0 0 5%;
  width: 35%;
}

.netbook .page-fotos .thumbs {
  display: none;
}

.mobile .page-fotos .thumbs {
  display: block;
  float: none;
  width: 90%;
  padding: 0 5% 0;
  margin-top: 20px;
  text-align: center;
}

.page-fotos .thumbs li{
  display: block;
  float: left;
  margin: 0 10px 10px 0;
}
.page-fotos .thumbs li img {
  display: block;
}

.page-fotos #slideshow {
  width: 55%;
  float: left;
  padding: 0 5% 0 0;
  text-align: center;
}

.netbook .page-fotos #slideshow {
  float: none;
  width: 90%;
  padding: 0 5% 0;
}

.tablet .page-fotos #slideshow img {
  width: 50%;
  height: 50%;
}

.mobile .page-fotos #slideshow {
  display: none;
}

.page-local #map {
  background: url(/images/mapa.png) no-repeat 0 0 transparent;
  display: block;
  width: 700px;
  height: 720px;
  margin-left: 50px;
}

.tablet .page-local #map {
  position: relative;
  left: 50%;
  margin-left: -350px;
}

.mobile .page-local #map {
  background: url(/images/mapa_med.png) no-repeat 0 0 transparent;
  width: 350px;
  height: 360px;
  margin-left: -175px;
}

.mobile-small .page-local #map {
  background: url(/images/mapa_small.png) no-repeat 0 0 transparent;
  width: 175px;
  height: 180px;
  margin-left: -87px;
}

.page-local .text,
.page-vestir .text,
.page-hospedagem .text {
  width: 800px;
  margin: 0 auto;
}

.tablet .page-local .text,
.tablet .page-vestir .text,
.tablet .page-hospedagem .text {
  width: 80%;
  position: relative;
  padding: 0 10%;
  margin: 30px 0;
}

#disqus_thread {
  font-family: Averia Gruesa Libre;
  font-weight: normal;
  margin: 0 10%;
  color: #777;
}

.dsq-avatar, .dsq-brlink, #dsq-subscribe {
  display: none;
}

#dsq-reply .dsq-textarea-reply {
  margin-left: 0;
}

.dsq-comment .dsq-comment-body {
  padding: 0;
}

#presentes-wrapper {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 250px;
  left: 50%;
}
.mobile-small #presentes-wrapper {
  position: relative;
  left: 0;
  bottom: auto;
  width: auto;
}
#presentes-wrapper #presentes {
  width: 370px;
  margin-left: -185px;
} 
.mobile-small #presentes-wrapper #presentes {
  width: auto;
  margin: 0;
}
#presentes-wrapper a.presentes-link {
  overflow: hidden;
  text-indent: -9999px;
  display: block;
  width: 250px;
  height: 70px;
  background: url(/images/presentes.png) no-repeat 0 0 transparent;
  margin-left: 60px;
}
.mobile-small #presentes-wrapper a.presentes-link {
  background: url(/images/presentes-small.png) no-repeat 0 0 transparent;
  width: 125px;
  height: 35px;
  margin-left: 20px;
}
#presentes-wrapper .obs {
  background-color: #FFF;
  display: none;
  padding: 0 10px 0;
}
#presentes-wrapper .obs ul {
  margin: 0;
  padding: 1em 0;
  list-style-position: inside;
}
