@import 'mixin';

body {
  background: #EFEFEF;
  font-family: Handlee, cursive; 
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

#main-wrapper {
  margin-top: 50px;
}

.foo {
  @include inline-block;
}

div.page {
  height: 600px;
  width: 100%;
  position: relative;
}

.page-transition {
  height: 200px;
  width: 100%;
}

.menu-wrapper {
  position: fixed;
  top: 0;
  padding: 0 auto;
  height: 100px;
  width: 100%;
  float: left;
  background: url(../images/menu_top.png) repeat-x 0 -47px transparent;
  z-index: 1000;
  font-family: 'Averia Gruesa Libre', cursive;
}

.menu-wrapper-bottom {
  position: fixed;
  top: 50px;
  height: 106px;
  width: 100%;
  float: left;
  background: url(../images/menu_top.png) repeat-x 0 -49px transparent;
  z-index: -10;
}

.menu {
  float: right;
  text-align: center;
  right: 50%;
  position: relative;
  padding: 10px 0 5px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: block;
  margin-right: 30px;
  float: left;
  left: 50%;
  position: relative;
  font-size: 24px;
}

.menu ul li a:visited,
.menu ul li a {
  text-decoration: none;
  color: #000;
  text-shadow: -1px 0 2px #FFF, 0 1px 2px #FFF, 1px 0 2px #FFF, 0 -1px 2px #FFF;
}

.menu ul li a.active,
.menu ul li a:hover {
  color: #AA3;
}

#recado-link {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

#recado-link a, 
#recado-link a:visited {
  color: #000;
  text-shadow: -1px 0 2px #FFF, 0 1px 2px #FFF, 1px 0 2px #FFF, 0 -1px 2px #FFF;
}

#recado-link a:hover, 
#recado-link a.active {
  color: #AA3;
}

a, a:visited {
  text-decoration: none;
  color: #AA9;
}

a.active,
a:hover {
  color: #AA3;
}

.page-index h1 {
  display: block;
  text-indent: -9999px;
  background: url(/images/amandaefranz.png) no-repeat 0 0 transparent;
  width: 400px;
  height: 296px;
  position: absolute;
  top: 50%;
  margin-top: -148px;
  right: 60%;
}

.page-nossa-historia .text-side {
  display: block;
  font-size: 26px;
  position: absolute;
  right: 20%;
  top: 50%;
  margin-top: -87px;
  text-align: right;
}

.page-nossa-historia .ilus {
  background: url(/images/front-bg.png) no-repeat 0 0 transparent;
  position: absolute;
  width: 509px;
  height: 174px;
  bottom: 5%;
  right: 0;
}

.page-nossa-historia .text {
  width: 500px;
  position: absolute;
  left: 30%;
  margin-left: -250px;
  top: 10%;
}

#disqus_thread {
  font-family: Averia Gruesa Libre;
  font-weight: normal;
  margin: 0 10%;
  color: #777;
}

.dsq-avatar, .dsq-brlink, #dsq-subscribe {
  display: none;
}

#dsq-reply .dsq-textarea-reply {
  margin-left: 0;
}

.dsq-comment .dsq-comment-body {
  padding: 0;
}
